<html>
<head>
    <style>
        video { border: 1px solid #ccc; display: block; margin: 0 0 20px 0; }
        #canvas { margin-top: 20px; border: 1px solid #ccc; display: none; }
    </style>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div>
        <video id="video" width="100%" height="100%" autoplay="" ></video>
        <button id="snap" class="sexyButton">Snap Photo</button>
        <canvas id="canvas" width="640" height="480"></canvas>
    </div>
</body>
<script>
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');

        // Put event listeners into place
        window.addEventListener("DOMContentLoaded", function(){ 
            // Grab elements, create settings, etc.
            /*
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            var video = document.getElementById('video');
            */
            var mediaConfig =  { video: true };
            var errBack = function(e) {
                console.log('An error has occurred!', e)
            };

            // Put video listeners into place
            if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia(mediaConfig).then(function(stream) {
                    video.src = window.URL.createObjectURL(stream);
                    //video.src = window.URL.TMLMediaElement.srcObject(stream);
                    video.play();
                });
            }

            /* Legacy code below! */
            else if(navigator.getUserMedia) { // Standard
                navigator.getUserMedia(mediaConfig, function(stream) {
                    video.src = stream;
                    video.play();
                }, errBack);
            } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
                navigator.webkitGetUserMedia(mediaConfig, function(stream){
                    video.src = window.webkitURL.createObjectURL(stream);
                    video.play();
                }, errBack);
            } else if(navigator.mozGetUserMedia) { // Mozilla-prefixed
                navigator.mozGetUserMedia(mediaConfig, function(stream){
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                }, errBack);
            }

            // Trigger photo take
            document.getElementById('snap').addEventListener('click', function() {
                context.drawImage(video, 0, 0, 640, 480);
            });
            /*
            if(video.isconnected){
                setInterval("upload()", 30);
            };
            */

        }, false);
        
        function upload(){
            if (video.isConnected){
                /*
                var canvas = document.getElementById('canvas');
                var context = canvas.getContext('2d');
                var video = document.getElementById('video');
                */
                context.drawImage(video, 0, 0, 640, 480);
                var img = canvas.toDataURL()
                img = img.split(',')[1]
                /*
                var blobBin = atob(img.split(',')[1]);
                var array = [];
                for(var i = 0; i < blobBin.length; i++) {
                    array.push(blobBin.charCodeAt(i));
                }
                var file = new Blob([new Uint8Array(array)], {type: 'image/jpeg'});
                var formdata = new FormData();
                formdata.append("myNewFileName", file);
                */
                $.ajax({
                    url: "camera",
                    type: "POST",
                    async: false,
                    //data: img,
                    //data: {img:img},
                    data: JSON.stringify({
                        img: img,
                    }),
                    /*
                    data: JSON.stringify({
                        img: formdata,
                    }),
                    */
                    processData: false,
                    contentType: false,
                    /*
                    success: function(data, status, xhr){
                        upload();
                    },
                    */
                    error: function(XMLHttpRequest, textStatus, errorThrown){
                        console.log(textStatus);
                    }
                });
            }
            else{
                console.log('1');
            }
        }
        /*
        if(video.src){
            setInterval("upload()", 30);
        }
        */
        
        setInterval('upload()', 5)
        //upload()
        //upload()

        /*
        var image = canvas.toDataURL('image/jpeg', 1)  //.replace("image/png", "image/octet-stream");   
        window.location.href=image
        */
    </script>

</html>
